#!/usr/bin/make -f

%:
	dh $@ --with python3

override_dh_auto_build:
	# No build step needed for Python scripts

override_dh_auto_install:
	mkdir -p debian/zerowallcli/usr/bin
	mkdir -p debian/zerowallcli/usr/lib/zerowall/core
	install -m 755 bin/zerowall debian/zerowallcli/usr/bin/zerowall
	install -m 644 core/*.py debian/zerowallcli/usr/lib/zerowall/core/
	# Create log directory in postinst
